#header {
  .header-loading {
    position: absolute;
    top: 0;
    width: 100%;
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #dadce0;
  background: #fff;
  display: flex;
  flex-direction: row;
  height: 64px;
  z-index: 1;
  box-shadow: 1px 1px transparent;
  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .header-col {
    display: flex;
  }
  .logo {
    line-height: 1.75;
    align-items: center;
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
    .material-icons {
      margin-right: 10px;
    }
  }
  .avatar {
    margin-right: 10px;
    height: 32px;
    border-radius: 50%;
  }
  .header-action {
    span {
      font-size: 14px;
    }
  }
}
.dark {
  #header {
    border-bottom: 1px solid #5f6368;
    background: #202124;
  }
}
