.topic {
  padding: 16px 0;
  .paper-header {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .MuiTypography-h3 {
      width: 100%;
    }
    h3 {
      margin: 0;
    }
  }
  .MuiTypography-body1 {
    font-size: 14px;
  }
}
