.test {
  .test-image {
    object-fit: cover;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  hr {
    margin: 16px 0;
  }
  .MuiListItem-root {
    border-radius: 8px;
  }
  .MuiListItemSecondaryAction-root {
    display: flex;
  }
  .exam-selection {
    &.Mui-selected {
      background-color: rgba(255, 255, 255, 0.2);
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
.light {
  .test {
    .exam-selection {
      &.Mui-selected {
        background-color: rgba(0, 0, 0, 0.1);
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
