@import "~material-icons-font/material-icons-font.css";
html,
body,
#root {
  height: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  ul {
    justify-content: center;
  }
}
.hero {
  height: 100%;
  align-items: center;
  .type-card {
    max-width: 320px;
    margin-bottom: 20px;
    .card-icon {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 40px;
    }
  }
}
a {
  text-decoration: none;
  color: unset;
}
.skeleton-loading {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
